.root {
    -fx-background-image: url("background_image.png");
}

.nextBrick {
    -fx-border-width: 5px;
    -fx-border-color: #fff;
    -fx-border-radius: 17px;
    -fx-padding: 10px;
}

.gameBoard {
    -fx-border-color: #504ED0;
    -fx-border-width: 12px;
    -fx-border-radius: 12px;
    -fx-background-color: #222222;
    -fx-background-insets: 5;
    -fx-alignment: center;
}

.nextBrickLabel {
    -fx-font-family: "Let's go Digital";
    -fx-padding: 20px 0 0 0;
    -fx-font-size: 16px;
    -fx-text-fill: yellow;
}

.ipad-dark-grey {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0, 1, 4, 5, 6;
    -fx-background-radius: 9, 8, 5, 4, 3;
    -fx-padding: 8;
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0, 0, 1);
}

.rectangleStyle {
    -fx-fill: linear-gradient(from 41px 34px to 50px 50px, reflect, #ff7f50 30%, #faebd7 47%);
}

/* Right Bar */
.vbox {
    -fx-spacing: 12;
    -fx-alignment: CENTER;
    -fx-pref-width: 210px;
}

.scoreBox {
    -fx-background-color: #000000;
    -fx-border-radius: 8px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-alignment: CENTER;
}

.scoreClass {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 23;
    -fx-padding: 20px 0 0 0;
    -fx-fill: yellow;
    -fx-text-fill: #75E67F;
    -fx-alignment: center;
    -fx-pref-width: 180px;
}

.gameOverStyle {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 38;
    -fx-background-color: red;
}

.nextBrickLabel {
    -fx-font-family: "Tahoma";
    -fx-padding: 20px 0 0 0;
    -fx-font-size: 22px;
    -fx-text-fill: #DFE34D;
}



